Source: ndlrdeposit
Section: web
Priority: extra
Maintainer: Tomasz Muras <tm@enovation.ie>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://easydeposit.swordapp.org/
#Vcs-Git: git://git.debian.org/collab-maint/ndlrdeposit.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ndlrdeposit.git;a=summary

Package: ndlrdeposit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EasyDeposit for NDLR
 EasyDeposit version pre-packaged for the NDLR SWORD push (http://dspace.ndlr.ie).
